.navbar{
    justify-content: flex-start !important;
}

.hero-img{
    height: 120px;
    background-image: url("https://images.media-allrecipes.com/ar-images/profiles/covers/smoothies-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative
}


.cover-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    display : block;
    width: 100%;
    height: 100%;
}

.create-textarea{
    height:9rem !important;
}

.description-textarea{
    height:4.5rem !important;
}

.warning-text{
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

.action-buttons{
    width: 150px
}


.footer-wrapper{
    height: 100px;
    width: 100%;
    background-color: #343a40;
    text-align: center;
}

.footer-des{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0px;
    text-transform: none;
}

.box{
    width:100%;
    height: 500px;
    border: 1px solid black;
}

.image-container{
    /* border: 1px solid red; */
    overflow: hidden;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center
}

.des-container{
    height:100%;
}

.test-img{
    max-width: 100%;
    /* max-height: 100% */
}